.mySwiper .swiper-button-next, .mySwiper .swiper-button-prev {
  background-color: #333333; /* Semi-transparent background */
  color: #FF6F69; /* Arrow color */
  width: 50px; /* Custom width */
  height: 50px; /* Custom height */
  border-radius: 50%; /* Make them circular */
}

.mySwiper .swiper-button-next:hover, .mySwiper .swiper-button-prev:hover {
  background-color:  #333333
}

.mySwiper .swiper-button-next::after, .mySwiper .swiper-button-prev::after {
  font-size: 20px; /* Custom font size for the arrow */
}