@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Handlee&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* fireworks */
.fireworks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}
